* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  background-color: #ddeeff;
  margin: 0 auto;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
}

h2 {
  align-self: start;
  margin: 5vh 0;
  font-size: 2rem;
}

.header,
.footer {
  background-color: #000033;
  color: white;
  font-size: 0.8rem;
}

.header a,
.footer a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.header ul,
.footer ul {
  list-style: none;
}
