.backLink {
  font-size: 1.2rem;
  background-color: var(--dark-blue-color);
  border-radius: 6vw;
  padding: 2vh 3vw;
  text-decoration: none;
  color: white;
  margin-top: 2vh;
  align-self: start;
  transition: transform 0.3s ease, box-shadow 0.4s ease;
}

.backLink:hover {
  box-shadow: var(--dark-blue-shadow);
  transform: scale(1.03);
}
