.price {
  width: 45%;
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 2px 36px 1px rgba(0, 0, 51, 0.1);
  border-collapse: collapse;
}

table tr:nth-child(1) {
  background-color: #d7e9fc;
}

table tr:nth-child(2) {
  background-color: #dbebfc;
}

table td,
table th {
  padding: 1.6vh;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 51, 0.15);
}

table tr:hover {
  background-color: #cfe4fa;
  border-color: rgba(0, 0, 51, 0.15);
}

table tr {
  border: 1px solid transparent;
  transition: background-color 0.5s ease, border-color 0.3s ease;
}

table th {
  text-transform: uppercase;
  font-size: 1.05rem;
}

table td {
  font-size: 1.2rem;
}

.priceLink {
  display: inline-block;
  margin: 2vh 2vw 0 0;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: auto;
  transition: transform 0.3s ease;
}

.priceLink:hover {
  transform: scale(1.05);
}
