.link {
  display: block;
  position: relative;
}

.link:hover .img_video {
  opacity: 0;
}

.main_link {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.img_video {
  position: absolute;
  right: 0;
  z-index: 1;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.main_video {
  border-radius: 1vw;
  width: 30vw;
  height: 65vh;
  object-fit: cover;
  transition: box-shadow 0.5s ease;
}

.main_video:hover {
  box-shadow: -3px 1px 47px 1px rgba(221, 238, 255, 0.4);
}

.main_page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 4vh;
  background-color: #000033;
  color: white;
}

.main_title {
  width: 60%;
}

.textTitle {
  text-align: center;
  font-size: 3rem;
}

span {
  display: inline-block;
  padding: 0 2vw;
  border-left: white 2px solid;
  border-right: white 2px solid;
}
