* {
    box-sizing: border-box;
}


.container {
    max-width: 90%;
    border: 1px solid black;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 95%;
    border: 1px solid black;
    margin: 0 auto;
    padding-top: 5px;
}

.logo {
    max-width: 30%;
}

.nav {
    max-width: 60%;
    display: flex;
    gap: 27px;
}


.footer {
    max-width: 95%;
    border: 1px solid black;
    margin: 0 auto;
}
